# File konfigurasi keystore untuk rilis Google Play Store
# Salin file ini menjadi 'android/key.properties' dan isi dengan data keystore Anda.
# PENTING: Jangan commit file 'key.properties' yang berisi kata sandi asli ke git repository publik.

keyAlias=upload
keyPassword=your_key_password_here
storeFile=../upload-keystore.jks
storePassword=your_store_password_here
